<!-- <p>footer works!</p> -->
<script src="https://kit.fontawesome.com/25d9e105ad.js" crossorigin="anonymous"></script>
<footer class="footer">
    <div class="social-media-links">
        <i class="fa-brands fa-facebook fa-4x"></i>
        <i class="fa-brands fa-instagram fa-4x"></i>
        <i class="fa-brands fa-twitter fa-4x"></i>
    </div>
    <p><a href="https://bcetodisha.ac.in/" class="info" target="_blank">More info</a></p>
    <p>Student portal <br>Copyright 2023 BCET Group Of Institutes; 2023 All Rights Reserved <br> Developed by
        Group3</p>
</footer>