<header class="header">
    <nav class="navbar">
        <div class="container">
            <h1 class="logo lg-heading text-light">BCET</h1>
            <ul class="nav-items">
                <li class="nav-item"><a href="/home">Home</a></li>

                <li class="nav-item"><a href="#">login</a>
                    <ul>
                        <li class="adminlogin"><a href="/adminlogin">admin login</a></li>
                        <li class="userlogin"><a href="/userlogin">user login</a></li>
                    </ul>
                </li>

                <li class="nav-item"><a href="https://bcetodisha.ac.in/about.html" target="_blank">About</a></li>
                <li class="nav-item"><a href="https://bcetodisha.ac.in/contact.html" target="_blank">Contact</a></li>
            </ul>
        </div>
    </nav>

    <div class="header-content">
        <h1 class="lg-heading text-light">engineering</h1>
        <p class="text-light">student portal</p>
    </div>
</header>