<!-- <p>userafterlogin works!</p> --><!-- <p>userafterlogin works!</p> -->


<header class="header">
    <p>WELCOME {{uobj.fullname}}</p>
    <nav class="navbar">
        <div class="container">
            <!-- <h1 class="logo lg-heading text-light">Hi,</h1> -->
            <ul class="nav-items">
                <li class="nav-item"><a href="/home">home</a></li>
                <li class="nav-item"><a href="/addquery">add query</a></li>
                <li class="nav-item"><a href="/giveans">give ans</a></li>
                <li class="nav-item"><a href="/searchquery">search</a></li>
                <li class="nav-item"><a href="/viewallquery">view all query</a></li>
                <li class="nav-item"><a href="#" (click)="logout()">logout</a></li>
            </ul>
        </div>
    </nav>

    <div class="header-content">
        <h1 class="lg-heading text-light">engineering</h1>
        <p class="text-light">student portal</p>

        <!-- <a href="#explore-palces" class="btn btn-primary text-red md-heading">Explore places</a> -->
    </div>
</header>
<app-footer></app-footer>