<!-- <p>searchquery works!</p> -->
<div class="search-container">
    <div class="container">
        <h2>Search query</h2>
        <form #userform="ngForm" (ngSubmit)="onSubmit(userform)">
            <h3 style="color: red;">{{showmsg}}</h3>
            <label for="search">Enter query number</label>
            <input type="number" placeholder="Search..." id="queryid" name="queryid" [(ngModel)]="qobj.queryid">

            <!-- Submit Button -->
            <input type="submit" value="Submit">

        </form>

        <div *ngIf="showtable">
            <h3 style="color: rgb(151, 19, 19);"> --QUERY DETAILS-- </h3>
            <table border="1">
                <thead>
                    <tr>
                        <th>SUBJECT</th>
                        <th>QUERY</th>
                        <th>EMAIL</th>
                        <th>DATE</th>
                    </tr>
                </thead>

                <tr *ngFor="let qobj1 of queryobjarr">
                    <td>{{qobj1.subject}}</td>
                    <td>{{qobj1.query}}</td>
                    <td>{{qobj1.email}}</td>
                    <td>{{qobj1.date}}</td>
                </tr>
            </table>
        </div>
    </div>
    <br><br>
    <app-footer></app-footer>